body{
    background: url('/images/instgram-background.png');
    margin:0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 header{
    background: url('/images/instgram-background.png');
    display: flex;
    justify-content: center;
    margin-top:10px;

  
 }
 .post-header{
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
 }
  
 header h1{
 margin:0;
 padding:10px;
 }
  
 .post{
    background:white;
    border-style: double;
    margin-bottom: 20px;
    margin-top: 30px;
    padding:30px;
    border-radius: 30px;
  
 }
 .post-header:hover{
    background-color: whitesmoke;
    cursor:wait;
 }
 .post h2 p{
    padding:5px;
 }
 .post img{
  
    width:100%;
    border-radius: 30px;
 }
  
 .container{
    width:400px;
    margin:auto;
  
 }
 .profile-image{
    height:400px;
    width:200px;
 }
 .container1 img{
  
    width: 300px;
 }
  
 .likes{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
  
 .likes img{
    height: 20px;
    width:20px;
 }
 