/*.home {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.login {
    height: 100vh;
    background: url('/images/instgram-background.png');
    filter: hue-rotate(15.142rad);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    transition: ease-in;
}

.sign-up {
    height: 100vh;
    background: url('/images/instgram-background.png');
    filter: hue-rotate(30.142rad);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.main__logo{
    grid-row: 2/ span 2;
    grid-column: 2/ span 8;
    text-align: center;
}

.main__logo img{
    height: 100px;
    width: 250px;
}
.whitebox{
    height: 100%;
    width: 100%;
    background-color: white;
    grid-row: 8/ span 3;
    grid-column: 1/ span 10;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whitebox-btn{
    height: 100%;
    width: 100%;
    background-color: white;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 8/ span 3;
    grid-column: 1/ span 10;
}

.whitebox-btn button{
    height: 55px;
    width: 300px;
    margin: 15px 0px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 25px;
    text-transform: uppercase;
    border: 3px solid black;
    outline: none;
    cursor: pointer;
   
}

.whitebox__signup{
    background: black;
    color: white;
}

.whitebox-expanded{
    height: 100%;
    width: 100%;
    background-color: white;
    grid-row: 4/ span 7;
    grid-column: 1/ span 10;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 800px){
    .main__logo{
        grid-row: 2/ span 2;
        grid-column: 2/ span 8;
        text-align: center;
    }
    
    .main__logo img{
        height: 150px;
        width: 400px;
    }
    .whitebox button{
        opacity: 0.6;
        transition: 0.3s;
    }
    .whitebox{
        grid-row: 4/ span 4;
        grid-column: 3/ span 6;
        border-radius:20px ;
    }
    .whitebox-expanded{
        grid-row: 4/ span 4;
        grid-column: 3/ span 6;
        border-radius:20px ;
    }
    .whitebox-btn button{
        opacity: 0.6;
        transition: 0.3s;
    }
    .whitebox-btn {
        grid-row: 4/ span 4;
        grid-column: 3/ span 6;
        border-radius:20px ;
    }
    .whitebox button:hover{
        opacity: 1;    }

}

*/

.bg-gradient{
    background: url('/images/instgram-background.png');
    background-repeat:no-repeat ;
    background-position: center;
    position: relative;
    font-family: arial;
    text-align: center;
    font-weight: bold;
}
.button-container {
    width: 400px;
    border: solid white;
    border-radius: 20px;
    margin: 4% auto;
    text-align: center;
    position: relative;
    background-color: white;
    padding: 125px 0;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-radius: 20px;
    letter-spacing: 2px;
    margin: 5px 0;
    padding: 8px;
    width: 225px;
    font-size: 20px;
    cursor: pointer;  

  }
  .sign-up-btn {
    color: #fff;
    background-color: #000;
  }