.App {
    text-align: center;
  }
  
  /*---------Navbar----------*/
  #navbar {
    background: black;
    color: #fff;
    overflow: auto;
    width: 100%;
  }
  
  #navbar a {
    color: #fff;
    /* font-size: 25px; */
  }
  
  #navbar h1 {
    /* color:#fff; */
    color: red;
  }
  
  #navbar h1 {
    float: left;
    padding-top: 20px;
  }
  
  #navbar ul {
    float:right;
    list-style: none;
  }
  
  #navbar ul li{
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current {
    color: red;
  }
  
  /*---------Footer Nav---------*/
  
  #footer-nav a {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  #footer-nav ul {
    list-style-type: none;
    margin: 20px;
    margin-left: 25px;
  }
  
  /* --------Footer----------- */
  
    .icons img {
    width : 40px;
    height : 40px;
    margin-left : 20px;
    margin-right : 20px;
    }
    .footerfont {
    font-size : 25px;
    }
  
  #main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
    width: 100%;
  }
  
  